.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}



/* -------------------------------- Navbar Composant Début ------------------------- */

/* -------------------------------- Navbar Composant Fin ------------------------- */

/* -------------------------------- Sidebar Composant Début ------------------------- */

/* --------------------------------Sidebar Composant Fin------------------------- */

/* -------------------------------- Cours Composant Début ------------------------- */

/* -------------------------------- Cours Composant Fin ------------------------- */

/* -------------------------------- Dashboard Composant Début------------------------- */

/* -------------------------------- Dashboard Composant Fin ------------------------- */

/* -------------------------------- Livraisons Composant Début------------------------- */

/* -------------------------------- Livraisons Composant Fin ------------------------- */

/* -------------------------------- Taches Composant Début------------------------- */

/* -------------------------------- Taches Composant Fin ------------------------- */


